.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #28a745;
  color: white;
  padding: 20px 40px;
}

.navbar button {
  margin-left: 10px;
  background: white;
  color: #28a745;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.navbar button:hover {
  background: #f1f1f1;
}